*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    background-color:skyblue;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between; 
    position: sticky;
    top: 0;
    left: 0;   
    z-index: 999;
}
.nav_bar_ul{
    display: flex;
    column-gap: 20px;
    margin-right: 40px;
    align-items: center;
    list-style: none;
}
.nav_bar_ul li a{
    text-decoration: none;
    color: #000000;
    position: relative;
}
.nav_bar_ul li i:hover{
    cursor: pointer;
}
.nav_bar_ul li .active,
.nav_bar_ul li a:hover{
    color: aliceblue;
    transition: all 0.1s ease-in;
    cursor: pointer;
}
.nav_bar_ul li .active::after,
.nav_bar_ul li a:hover::after{
    content: "";
    width: 80%;
    height: 2px;
    background-color: blue;
    position: absolute;
    left: 0;
    top: 19px;
}
.hero{
    background:  url("Screenshot\ 2024-08-17\ at\ 4.17.43\ PM.png") no-repeat;
    background-size:contain;
    height: 110vh;
    width: 100vw;
}
.hero_main{
    position: absolute;
    right: 25%;
    top: 50%;
    font-size: xx-large;
}
.hero_main h4{
    margin-bottom: 16px;
    font-weight: 400;

}
.hero_main h1,.hero_main h2{
    font-weight: bolder;
    color: skyblue;

}
.hero_main p{
    font-weight:lighter;
    font-size: 20px;
    margin: 10px 0;
}
.hero_main img{
    width: 130px;
    height: 130px;
    transform: translateX(110px);
}
.hero_main button{
    color: red;
    transform: translateY(-65px);
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font: weight 100px;;
    font-size:medium;
}
.feature{
    margin-top: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    min-height: 35vh;
    flex-wrap: wrap;
}
.feature img{
    width: 170px;
    height: 170px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.feature div:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    cursor: pointer;
}
.feature div{
    border-radius: 50%;
    width: 170px;
    height: 200px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.feature div h5{
    color: white;
    background-color: maroon;
    padding: 10px 10px;
    cursor: pointer;
    margin-top: -5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.feature div:nth-child(2) h5{
    background-color:rgb(194, 144, 152);
}
.feature div:nth-child(3) h5{
    background-color:rgb(189, 57, 57);
}
.feature div:nth-child(4) h5{
    background-color:rgb(189, 102, 40);
}
.feature div:nth-child(5) h5{
    background-color:rgb(0, 0, 255);
}
.feature div:nth-child(6) h5{
    background-color:violet;
}
.feature_head{
    text-align: center;
}
.feature_head h1{
    font-size: 50px;
    margin-bottom: 10px;
}


.feature_products img{
    margin-left: 1.5%;
    padding: 10px;
    width: 230px;
    height: 230px;
    border-radius: 10%;
}
.feature_products .outer{
    margin: 20px 40px;
    width: 240px;
    height: 320px;
    background-color: #b9a1a1;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.feature_products .outer:hover{
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}
.details{
    margin-left: 15px;
    margin-top: -10px;
}
.details h4{
    margin-top: 3px;
}
.details .cart{
    transform: translateX(140px);
    font-size: 30px;
    cursor: pointer;
}
.details span{
    font-weight: 600;
}
.feature_products{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.banner{
    margin: 30px 0;
    width: 100vw;
    background-image: url("pexels-rovenimages-com-344613-949587.jpg");
    background-size: cover;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.banner button{
    padding: 10px;
    margin-top: 10px;
}
.banner button:hover{
    background-color: skyblue;
    border-style:none ;
    cursor: pointer;
}
.banner h3 span{
    color: rgba(255, 0, 0, 0.794);
}
.banner h6{
    color: #000000;
    font-weight: 5000;
    font-size: large;
}
.text_banners{
    margin: 30px 0;
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
}
.text_banners div{
    background-image: url("Screenshot\ 2024-08-17\ at\ 4.17.43\ PM.png");
    margin: 30px 0;
    width: 45%;
    background-color: #000000;
    background-size: cover;
    height: 50vh;
}
#sm-banner{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ;
    align-items: center;
    text-align: center;
    background-image: url("pexels-gustavo-fring-4173108.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
}
#sm-banner .banner-box:hover button{
    background-color: red;
}




/*
beatae magni debitis enim iure! Minima quaerat 
sed quisquam quis eos amet magnam rem libero 
fugit hic quod quibusdam consequuntur autem 
rerum sint cumque error, harum nisi. Hic, fuga 
rerum! Accusamus exercitationem molestias quia 
tenetur error aliquid? Nesciunt consequuntur 
enim quisquam. Fugit nobis sunt quam dolor 
laborum, voluptatum vitae quis aut, repellendus 
illum nisi nam magni neque odio illo earum 
doloribus, nemo consequatur modi ducimus eaque 
optio dolores. Repellendus officia veniam rem 
odio, aliquam ex ea? Est quis, voluptatum magni 
iure laboriosam porro aliquam minima rerum 
consequuntur atque minus architecto vel. Dolores
maxime accusantium quas tempore pariatur 
corporis debitis beatae omnis sunt, vel 
molestiae. Adipisci eligendi, ipsam maxime magni
atque laborum eveniet perspiciatis, fuga vero 
necessitatibus consequuntur, voluptatem 
praesentium distinctio quaerat sit qui? Ex 
minus, eum quod facilis facere officia, error 
voluptas rem eligendi reprehenderit officiis 
fuga debitis eius esse ratione aspernatur ipsa 
in! Eius inventore id fugiat quos enim! Quia 
quod perspiciatis, temporibus inventore quasi 
nulla architecto libero, necessitatibus laborum 
iure magnam tenetur facere, quo quidem minus 
ipsam commodi veritatis eos dolore numquam 
provident? Ratione recusandae voluptatum eum 
pariatur quaerat veritatis doloremque enim sunt 
a minima porro quam modi, delectus, expedita 
incidunt, qui at in explicabo. Neque, illum 
eligendi recusandae magni expedita a velit, 
molestiae sint officia ab placeat odit itaque 
unde corporis culpa. Iusto quos similique, optio
at perspiciatis unde atque voluptatem numquam 
perferendis quidem molestias tempora facere 
incidunt id, molestiae adipisci eius facilis 
tempore corporis animi? Numquam saepe 
reprehenderit consequatur repellendus neque ex 
voluptatum eaque, ipsa eveniet. Dolorum 
molestiae cum debitis ipsa corrupti eos rem ut 
nam tempore, reprehenderit expedita error rerum 
dicta sapiente ex sint enim perspiciatis nisi 
deleniti similique, odit dolor? Assumenda 
mollitia, dignissimos autem non molestias fugiat
odio alias facilis illum sunt? Reprehenderit 
maiores porro eius, rerum dignissimos, magni 
voluptatibus necessitatibus provident pariatur, 
cum facere. Quos beatae esse eius voluptates, 
sunt ducimus facere voluptatem error labore 
libero? Nobis, voluptatem quasi alias aliquid ut
minus, enim qui quibusdam ea saepe ratione 
doloremque praesentium explicabo dolores! 
Laboriosam, cumque excepturi! Maiores natus ab 
minus magnam labore distinctio suscipit aperiam,
et vero nulla porro optio fugit alias provident 
aspernatur animi deserunt corporis ex 
voluptatem, odio cum nesciunt sit doloremque 
quidem. Aliquid earum ipsum praesentium 
temporibus soluta pariatur maiores, accusantium 
voluptatum dolorem voluptates veritatis, fugiat 
culpa recusandae libero quae est doloribus ullam
sint excepturi? Deleniti eaque aperiam 
perspiciatis accusantium quidem labore eveniet 
unde, voluptates architecto? Repudiandae, 
possimus? Necessitatibus voluptatem, 
perspiciatis ipsam dolorum sint deleniti 
nesciunt nihil facilis nostrum voluptatum magnam
eum? Illo dolore fugiat dolor, doloremque 
voluptatem maxime vitae in numquam eos, 
suscipit, perspiciatis ut error alias ea 
laboriosam assumenda libero cum. Assumenda 
corrupti asperiores aut mollitia a incidunt 
delectus, itaque harum quasi fugiat aspernatur 
non architecto optio laudantium praesentium. 
Assumenda numquam voluptates possimus, repellat 
nemo similique ducimus dolore porro repudiandae 
nostrum labore necessitatibus veritatis sit 
odit. Qui doloremque in architecto quidem illo 
ea suscipit minima nostrum earum, libero 
voluptatibus, magni nesciunt obcaecati iste eos 
ab soluta, consectetur sit! Harum, voluptatem 
excepturi. Voluptatum placeat dolore iusto 
ratione ipsum omnis qui provident ducimus, 
maxime dolor similique neque accusantium, minus 
deleniti voluptatibus eum quod illo dignissimos 
illum nulla aliquam alias in voluptas. Minus 
modi laboriosam natus voluptates id, repudiandae
fugiat beatae in! Numquam impedit rerum suscipit
facere doloribus quos, harum tempore ullam 
officia, debitis blanditiis. Quam delectus, 
itaque architecto vero debitis nesciunt, quod 
repudiandae eius tempore quo perferendis! 
Aliquid quo nemo voluptatum neque quas minima, 
earum doloremque mollitia dolores veritatis 
deleniti animi asperiores suscipit ad quae 
labore natus eos. Similique rerum repellendus 
accusamus. Doloribus temporibus, numquam 
perspiciatis ut repellendus alias. Officia 
provident quo eaque asperiores fugiat expedita 
laudantium deleniti! Pariatur assumenda 
doloremque minima impedit dolorum unde modi 
maiores quisquam vero minus nobis maxime alias 
nesciunt, iste a quas iusto officiis suscipit 
non aut veniam aspernatur, ipsum odit corporis. 
Omnis ea quod excepturi molestiae eum blanditiis
iusto assumenda quam aliquid, veniam dolores 
temporibus dolorem, vitae sunt necessitatibus 
nesciunt nihil voluptas tempora eaque optio 
repellendus aspernatur fugiat quaerat est? 
Temporibus mollitia quam reiciendis dolor, sint 
maxime maiores inventore exercitationem 
aspernatur qui illum accusamus sed aliquam neque
minus provident eligendi fuga. Nostrum eveniet 
sit vel expedita numquam voluptatum non, illum 
inventore ut, magni architecto, rerum doloremque
quaerat id nisi in. Sint quas dolorem fugit 
autem perferendis voluptate consequatur ut, vero
repudiandae, blanditiis rem debitis est neque 
deleniti ipsum iste quia a aspernatur eveniet? 
Ducimus rem iusto praesentium adipisci voluptate
*/
