*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor:pointer;
   
}
body
{
background-color: black;
width: 100%;
overflow: hidden;
margin-bottom: 10%;

}
header{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    animation: header 1s ease-in-out;

}
@keyframes header{
    0%{transform:
    translateY(-100%);}
    }
nav li{
    display:inline-block ;
    padding: 10px;
}
.main{
    color: aliceblue;
}
.main {
    padding-left: 100px;
    margin-top: 100px ;
    
    
   }
.content{
    animation: content 2s ease-in-out;
}
@keyframes content {0%{
    opacity: 0;
    transform: translateX(-50%);
}
    
}


.content h1{
    font-size: 100px;
    letter-spacing: 10px;
}
.content h2{
    font-size: 30px;
    padding-bottom: 10px;
}
span{
    color: yellow;
}
.content p{
    padding-bottom: 10px;
}

button{
    background-color: black;
    color: white;
    padding: 15px 15px;
    margin: 10px;
    border-radius: 10px;
    
}
button:hover{
    background-color: red;
}

.image{
     position: absolute;
     left: 48%;
     top: 200px;
     z-index: -1;
    }
    
img{
        width: 40rem;
        animation: car 4s ease-in-out;
        
}
@keyframes car {
    10%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-250%)
    }
    
}

@media screen and (max-width:1200px){
.content{
    
        text-align: center;
    }


    
.image{
    display: flex;
    position: absolute;
    bottom: -5%;
    display: flex;
    justify-content: center;
   }
img{
    width:40rem ;
}   



}




/*
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt odio temporibus quas architecto, atque dolorum repellat, accusamus in eaque quae fugit pariatur exercitationem fuga mollitia eveniet magnam eos saepe aperiam voluptatum perspiciatis laudantium reiciendis quis aliquam numquam? Ea recusandae placeat nisi, cupiditate atque saepe harum odio reiciendis veniam natus quis nihil iste quam labore mollitia? Velit quisquam incidunt vel hic, numquam facilis iusto corrupti rem ratione autem delectus, sit consectetur quibusdam? Sunt sed, dignissimos, quaerat accusantium cumque quo earum cupiditate, sint pariatur illo voluptatem suscipit commodi officia dolorum eum maxime vel temporibus atque repellat? Quaerat nam sed error, quasi in quas vero eveniet delectus itaque eum nobis cupiditate rerum praesentium quos qui dolores dolorem quo laborum! Officiis velit in non. Dolorum voluptates eum, similique impedit qui maiores laborum ex voluptatum nihil molestias earum alias quisquam distinctio possimus, mollitia reiciendis recusandae eos voluptate dolorem iure ut? Laborum excepturi eveniet hic placeat cupiditate minus magnam obcaecati, numquam sequi quas adipisci sit modi. Quo recusandae velit consectetur pariatur aut aliquam, ipsam minima architecto, molestiae, eius magnam at maxime exercitationem ullam quos. Culpa officiis ratione cum illum corporis, voluptates porro! Nulla saepe voluptate aut architecto et, amet in autem eaque obcaecati, cupiditate omnis pariatur cumque illo assumenda libero repudiandae quam corporis debitis ipsam porro eos ab accusamus? Molestiae consequuntur magnam earum necessitatibus accusantium ullam quo porro eaque autem modi ut, commodi aperiam numquam aut iure illo excepturi blanditiis ex et nam maxime voluptates eius harum sit? Consequuntur, itaque aut. Debitis repudiandae id commodi aspernatur! Nisi id neque aliquam, ipsa dolorem commodi fuga distinctio dolores atque, sunt optio ex odit minus cum, excepturi repudiandae eveniet. Itaque commodi ipsa suscipit temporibus officia perferendis, quia velit culpa sed saepe cupiditate blanditiis fugiat laudantium sit totam molestias, voluptatem repudiandae quod! Odio, asperiores. Et recusandae consectetur ipsam, delectus nisi dolorem magni modi quos illum accusamus aspernatur rem voluptas quam aperiam dignissimos repudiandae quas distinctio commodi amet impedit fuga. Repudiandae, odio. Sapiente nisi repudiandae dolore quia voluptates vero obcaecati dicta accusamus maiores alias et voluptatibus laudantium doloribus architecto possimus, nostrum maxime aut eveniet quasi expedita nemo nobis ipsum mollitia! Laudantium, incidunt error deleniti aliquam, dolorum, ducimus sed hic nisi reprehenderit facere in. Ut nam aliquam amet eligendi repellendus libero repellat, nisi similique delectus, quaerat illo corrupti iste enim porro eius corporis vero ducimus. Eos inventore odit ex aut possimus animi accusamus exercitationem! Temporibus cum excepturi error sit? A, quis non.*/
